# macOS
.DS_Store
._*
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# Thumbnails
._*

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Node
node_modules/

# Astro
dist/
.astro/

# Netlify build output
.netlify/

# Env
.env
.env.local
.env.*.local
